<mat-toolbar color="primary">
  <span>SA Tax Calculator</span>
  <span class="toolbar-spacer"></span>
  <span class="tax-year">2024 / 2025</span>
  <button mat-icon-button
          (click)="toggleTheme()"
          [title]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'">
    <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</mat-toolbar>

<div class="page-container">
  <div class="layout">
    <div class="form-column">
      <app-tax-form (calculated)="onCalculated($event)"></app-tax-form>
    </div>
    <div class="results-column" *ngIf="result">
      <app-tax-results [result]="result"></app-tax-results>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
